.header{
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1em 0;

}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.search-form input{
    padding: 0.5em;
    border: none;
}   

.search-form button{
    padding: 0.5em 1em;
    border: none;
    background-color: #fca303;
    /* color: white; */
    cursor: pointer;
}

.search-form button:hover{
    background-color: #da8e02;
}



body, .card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.card{
  background-color: #f2eded;
}

.movie-card{
    background-color: #f2eded;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    margin-top: 5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    padding-left: 3em;
}

.movie-title, .movie-rating, .movie-genre{
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.movie-genre{
  display: flex;
  background-color: #da8e02;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px){
  .header, .movie-card, .card{
      flex-direction: column;
  }
  .card {
    max-height: 500px; /* Fixed height for the movie card container */
    overflow-y: auto;  /* Allow vertical scrolling */
  }

  
}